 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create your post </title>
    <link rel="stylesheet" href="/posts.css">
 </head>
 <body>
     <h1>Quora post</h1>
 </body>
    <form method="post" action="/posts"> 
       <input placeholder="enter the user name" name="username"/> 
       <br/>
       <textarea  placeholder="enter your post " name="content"></textarea>
       <br/>
       <button>Submit Post</button>
    </form>
    
 </body>
 </html>